<% user = current_user %>
<% is_loggedin = user ? @current_user : false %>
<div class="post-index-content grey lighten-5">
  <div class="center-align grey lighten-4">
    <% if is_loggedin %>
    <%= link_to "New Issue", new_post_path, class:"waves-effect waves-light btn new-post"%>
    <% end %>
  </div>
  <div class="container grey lighten-4">
    <br/>
  </div>
  <br/>
  <div class="post-container">
    <% @posts.each do |post| %>
    <div class="col s11 card-content black-text row card #fafafa hoverable post-index">

      <h1 class="title" href="http://<%= post.description %>" target="_blank">
        [<%= post.issue_type %>]
        <%= link_to post.title, post_path(post.id)%>
      </h1>
    </div>
    <% end %>
    <div class="center-align grey lighten-4 post-home">
      <%= link_to "Home", home_path, class:"btn-flat grey-text text-darken-2"%>
    </div>
  </div>
</div>
