<%= link_to "Back", posts_path, class:"waves-effect waves-light btn"%>
<% flash.each do |name, msg| %>
<div class="red-text"><%= msg %></div>
<% end %>
<%= yield %>
<%= form_for :post, url: "/posts", method: "post" do |f| %>
<div class="grey lighten-4 z-depth-3">
  <div class="container">
    <h3 class="center-align">Create New Post</h3>
    <h5>Title:</h5>
    <%= f.text_field :title %>
    <h5>Description:</h5>
    <%= f.text_field :description %>
    <h5>Address:</h5>
    <%= f.text_field :location %>
    <%= f.submit "Submit", class:"btn-flat"%>
    <br>
    <% end %>
  </div>
</div>
