<div class="row grey lighten-4 z-depth-3">
    <div class="container left-align manip-buttons">
      <%= link_to "Edit Post", edit_post_path(@post.id), class:"waves-effect waves-light btn"%>
    
      <%= button_to "Delete", @post,class:"waves-effect waves-light btn delete-button", method: :delete %>
    </div>
    <!-- <h3 class="left-align container"><%= @post.id %> -->
    <!-- <%= @post.title %> -->
  <!-- </h3> -->
  <div class="container center-align">
    <div class = "post-content">
      <div class = "post-title">
        <h5><a href="http://<%= @post.title %>"><%= @post.title%></a></h5>
      </div>
      <div class = "media-body">
        <p><%= @post.description %></p>
      </div>
    </div>
    <div class="white">
    </div>
    <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@post.latitude},#{@post.longitude}&markers=#{@post.latitude},#{@post.longitude}&zoom=15&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
    class: 'img-fluid img-rounded', alt: "#{@post.title} on the map"%>
  </div>
  <div class="center-align back-button">
    <%= link_to "Back", posts_path, class:"waves-effect waves-light btn"%>
  </div>
</div>
